* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
}

.header h1 {
    text-align: center;
}

.header h4 {
    text-align: center;
}

.header p {
    text-align: center;
    color: gray;
}

.corner {
    line-height: 90%;
    font-size: x-small;
    position: relative;
    top: 20px;
    left: 10px;
    color: gray;
}

.container1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 1px solid white;
    gap: 1rem;
}

.box1 {
    text-align: center;
  border-radius: 2;


}

.small-box {
    display: flex;
    align-items: center;
    justify-content: center;

}
.small-box h4 {
    justify-content: center;
    background-color: plum;
    width: 2em;
    height: 2em;
    padding: 3px;
    border-radius: 10px;
}

.para-box {
    background-color: plum;
    border-radius: 5px;
    /* height: 40vh; */
    /* width:12em; */
    justify-content: center;
    border: 1px solid white;
    border-width: 0em 7em;
}

.para-box h3 {
    font-size: 20px;
}

.para-box p {
    font-size: 15px;
}

@media screen and (min-width: 200px) and (max-width: 767px) {
    .container {
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }

}

@media screen and (min-width: 400px) and (max-width: 600px) {
    .container {
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }
}